:root {
    --rrze-newsletter-header-font: arial, sans-serif;
    --rrze-newsletter-body-font: georgia, serif;
    --rrze-newsletter-max-width: 680px;
}

.wp-block {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--rrze-newsletter-max-width);
}

.editor-styles-wrapper {
    &.block-editor-writing-flow {
        font-size: 14px;
    }

    .editor-post-title {
        font-family: var(--rrze-newsletter-header-font);
        line-height: 1.5;
    }

    .block-editor-block-list__layout {
        &.is-root-container {
            padding-left: 0;
            padding-right: 0;
        }

        * {
            line-height: 1.5;

            &:not(code) {
                font-family: var(--rrze-newsletter-body-font);
            }
        }

        .rrze-newsletter-post-inserter__header span,
        .components-button,
        .block-editor-block-list__block .components-placeholder,
        .block-editor-block-list__block .components-placeholder div {
            font-family: "Noto Serif", helvetica, arial, sans-serif;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: var(--rrze-newsletter-header-font);
            line-height: 1.5;
        }

        h1 {
            font-size: 32px;
            line-height: 34px;
        }

        h2 {
            font-size: 28px;
            line-height: 34px;
        }

        h3 {
            font-size: 24px;
            line-height: 34px;
        }

        h4 {
            font-size: 20px;
            line-height: 32px;
        }

        h5 {
            font-size: 18px;
            line-height: 32px;
        }

        h6 {
            font-size: 14px;
            line-height: 32px;
        }

        a {
            color: inherit;
            font-family: inherit;
            text-decoration: none;
        }

        code {
            background: none;
            color: inherit;
        }

        .block-editor-block-list__block,
        .wp-block[data-align="center"] {
            margin-bottom: 0;
            margin-top: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            &.has-background {
                padding: 12px;
            }
        }

        .wp-block-group {
            padding-left: 0;
            padding-right: 0;

            &.has-background {
                padding-bottom: 0;
                padding-top: 0;
            }

            .block-list-appender {
                margin: 0 20px;
            }
        }

        .wp-block-buttons {
            font-weight: bold;
            text-align: center;

            .block-list-appender {
                margin: 0;
            }

            .wp-block-button__link {
                font-size: 1em;
                padding: 0.75em 1.5em;
            }
        }

        .wp-block-button {
            margin-left: auto !important;
            margin-right: auto !important;
            padding: 0;
        }

        .wp-block-social-links {
            gap: 0 !important;

            &.is-style-circle-black {
                .wp-social-link {
                    background: black;
                    color: white;
                }
            }

            &.is-style-filled-black {
                .wp-social-link {
                    background: transparent;
                    color: black;
                }
            }

            &.is-style-circle-white {
                .wp-social-link {
                    background: white;
                    color: black;
                }
            }

            &.is-style-filled-white {
                .wp-social-link {
                    background: transparent;
                    color: white;
                }
            }
        }

        .wp-social-link {
            border-radius: 19px;
            height: 38px;
            margin: 4px;
            padding: 7px;
            width: 38px;
        }

        .wp-block-heading {
            > span {
                font-family: inherit;
            }
        }

        .wp-block-columns {
            padding: 0;

            .block-list-appender {
                margin: 0;
            }

            .components-placeholder {
                margin: 20px;
            }
        }

        .wp-block-column {
            &:not(:first-child) {
                margin-left: 0;
            }

            .wp-block {
                padding: 0;

                &.has-background {
                    padding: 12px;
                }
            }
        }

        .wp-block {
            &[data-type="core/list"] {
                padding: 12px;
                padding-left: calc(12px + 1.3em);

                ol,
                ul {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            &[data-type="core/social-link"] {
                align-items: center;
                display: flex;
                justify-content: center;
                padding: 0;

                &:not([contenteditable]):focus::after {
                    right: 0;
                }
            }

            &[data-type="core/separator"],
            .wp-block-separator {
                background: none !important;
                border-bottom: 1px solid;
                max-width: calc(var(--rrze-newsletter-max-width) - 24px);
                margin-bottom: 12px;
                opacity: 1;
                padding-bottom: 0.1px;
                padding-top: 0.1px;

                &:not(.is-style-wide, .is-style-dots) {
                    border-bottom-width: 1px;
                    width: 128px;
                }

                hr {
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }

            &[data-type="core/spacer"] {
                .components-resizable-box__container {
                    margin-bottom: 0;
                }
            }

            &[data-align="full"] {
                margin: 0;
                padding: 0;

                .wp-block-group.has-background {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }

            &[data-align="center"] {
                .wp-block-social-links {
                    margin-left: 8px;
                    margin-right: 0;
                }
            }

            &[data-align="left"] {
                .wp-block-social-links {
                    margin-left: 0;
                }
            }

            &[data-align="right"] {
                .wp-block-social-links {
                    margin-right: 0;
                }
            }
        }
    }
}

/* Hide visibility options to avoid confusion with a none public newsletter. */
.edit-post-post-visibility {
    display: none;
}

.rrze-newsletter {
    &__modal {
        max-width: 360px;

        .components-button + .components-button {
            margin-left: 12px;
        }

        .components-notice {
            margin: 0;
        }
    }
}
