@import "~@wordpress/base-styles/colors.native";
@import "~@wordpress/base-styles/colors";

.rrze-newsletter {
    &__public-toggle-control {
        margin-top: 1rem;
        &--separated {
            margin-top: 14px;
            padding-top: 8px;
            border-top: 1px solid $light-gray-500;
        }
    }
}
