@import "~@wordpress/base-styles/colors.native";
@import "~@wordpress/base-styles/colors";

.rrze-newsletter {
    &__sending-conditions,
    &__sending-recurrence,
    &__sending-schedule {
        display: grid;
        gap: 16px;
        min-width: 0;
    }

    &__sending-recurrence {
        padding-top: 16px;
        border-top: 1px solid $light-gray-500;
    }
}
