<div class="rrze-newsletter-subscription">
    <div class="o-container o-container--mw700 u-py-60">
        <div class="u-bb u-bc-spacer u-mb-24 u-pb-24 u-text-center">
            <h2 class="c-content-heading u-mb-6 u-text-black u-text-center">
                {{=title}}
            </h2>
        </div>
        <div>
            <div class="u-text-center" aria-live="assertive">
                <h3 class="u-text-black u-text-delta">
                    {{=notice}}
                </h3>
                <p>
                    {{=description}}
                </p>
                <p>
                    <a href="{{=link_url}}" class="u-text-black">{{=link_text}}</a>
                </p>
            </div>
        </div>
    </div>
</div>