@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/colors.native";
.rrze-newsletter-ics {
    // This needs extra specificity due to the reset mixin on the parent: https://github.com/WordPress/gutenberg/blob/a250e9e5fe00dd5195624f96a3d924e7078951c3/packages/edit-post/src/style.scss#L54
    &.rrze-newsletter-ics {
        box-sizing: border-box;
    }

    &.alignleft {
        /*rtl:ignore*/
        margin-right: 2em;
    }
    &.alignright {
        /*rtl:ignore*/
        margin-left: 2em;
    }
}

.rrze-newsletter-ics__item-publish-date,
.rrze-newsletter-ics__item-author {
    display: block;
    color: #555;
    font-size: 0.8125em;
}
