@import "~@wordpress/base-styles/colors";

.rrze-newsletter-layouts {
    &__spinner {
        text-align: center;
        padding: 40px 10px;
    }

    &__item {
        margin: 0 0 16px;
        width: 100%;
    }

    &__item-preview {
        background: white;
        border: 1px solid $light-gray-500;
        border-radius: 2px;
        overflow: hidden;
        padding: 0 0 calc(100% - 2px);
        position: relative;
        width: 100%;

        .block-editor-block-preview__container {
            position: absolute;
            top: 0;
        }
    }
}
